aside{
    /* background-color: black; */
    background: linear-gradient(-180deg, #5c5c5c, #474747, #313131, #000000);
    border-radius: 0 150px 0 0;

    width: 40%;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.lang-nav{
    text-align: center;
    width: 60%;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.langs{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.competencias li{
    text-align: left;
}

h1{
    text-align: center;
    font-size: 35px;
    color: rgb(193, 255, 101);

    /* position: relative; */

}
aside .retrato{
    top: 0;
    border-radius: 5px 70px 5px 70px;

    /* position: absolute; */

    width: 100%;
    height: auto;
}
.foto{
    border-radius: 5px 70px 5px 70px;
    background-color: white;
    color: black;
    /* background-image: url('uli-sorri1970.jpg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat; */
    border: 4px solid white;
    /* height: 650px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 80px;

}
h2{
    text-align: center;
    font-size: 18px;
    width: 100%;
    /* position: absolute; */

}
h4{
    font-size: 25px;
}
.dado-pessoal{

    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.dados{
    border: 2px solid wheat;
    border-radius: 15px;
    padding: 10px;
}
a{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    color: rgb(193, 255, 101);
}
.links-pessoais{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.links-pessoais a {
    font-size: 14px;
}
.links-pessoais i{
    font-size: 30px;
}


.competencias h4{
    font-size: 20px;

}
li{
    padding: 5px;
    margin-bottom: 5px;
}


.competencias {
    text-transform: uppercase;
    color: rgb(193, 255, 101);
    line-height: 30px;
    margin-left: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-weight: bold;
}
.competencias .princi-compet{
    font-size: 17px;
}
.competencias ul {
    margin: 0;
    padding: 0;
}
.competencias li{
    font-family: Arial, Helvetica, sans-serif;


    font-weight: 100;
    text-align: left;
    font-size: 17px;
    line-height: 17px;
    color: white;
    text-transform: none;
    padding-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
}
.princi-compet{
    font-size: 15px;

}
.projetos a {
    line-height: 25px;
    margin-bottom: 20px;
    font-size: smaller;
}


@media print  {
    aside{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: rgb(160, 160, 160); */
        background: linear-gradient(-180deg, #949494, #bebebe, #e2e2e2, #ffffff);
        border-radius: 0 150px 0 0;
        border: 8px solid white;
    }
    .asider{
        margin-left: 10px;
        margin-right: 10px;
    }

    .lang-nav {
        display: none;
    }

    .foto{
        border-radius: 5px 70px 5px 70px;
        /* margin-top: -3px; */
        background-color: white;
    }
    .foto img{
        border-radius: 5px 70px 5px 70px;
        width: 40%;

    }
    
    .competencias{
        margin-top: 15px;
        margin: 5px;
    }
    .back{
        margin-top: 35px;
    }
    .links-pessoais a{
        color: black;
    }
    .competencias, .competencias li, .competencias li a {
        color: black;
    }
    .competencias ul, ol{
        margin-top: 0;
        padding-top: 0;
        
    }
    .cerifi{
        margin: 0;
        padding: 0;
    }
    .competencias ul{
        text-align: left;
        width: 100%;
    }
    
    aside h2{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .ling{
        margin-top: 5px;
    }
    .end{
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    
    }
    .projetos a {
        color: black;
        line-height: 20px;
        font-size: smaller;
        margin-bottom: 10px;
    }
    .projetos span {
        font-weight: bold;
    }
}
