*{
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;    
}
body{
    /* background-color: rgb(37, 37, 37);  */
    background: linear-gradient(0deg, #5c5c5c, #474747, #313131, #000000);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.row{
    display: flex;
    justify-content: space-between;
}

@media print  {
    
    body{
        
        background: white;
        
        color: black;

    }
   
}


@media screen and (width: 3840px) {
    aside{
        width: 20%;
        margin-left: 15%;
    }
    h1 {
        font-size: 45px;
    }
    .resumo{
        font-size: 25px;
    }
    .paragrafos{
        font-size: 25px;
    }
    .links-pessoais a{
        font-size: 25px;
    }
    main{
        width: 50%;
        margin-right: 15%;
    }
}

@media screen and (width: 1920px) {
    aside{
        width: 20%;
        margin-left: 10%;

    }
    main{
        width: 60%;
        margin-right: 10%;
    }
}



@media screen and (max-width: 428px) {
    
    h1{
        font-size: 22px;
    }

    aside{
        padding: 0px;

        color: greenyellow;
    }
    
    .links-pessoais{
        margin-left: 0;
    }
    .links-pessoais a{
        font-size: 9px;
    }
    .links-pessoais i {
        font-size: 17px;
    }
    .competencias .princi-compet{
        font-size: 7px;
    }
    .competencias li{
        padding: 0;
        margin: 0;
        font-size: 13px;
    }
    .competencias h4 {
        font-size: 10px
    }
    .resumo .paragrafos{ 
        font-size: 15px;   
    }
    .headfoto{
        text-align: left;

    }
    .headfoto p{
        font-size: 10px;
        margin-left: 0;
        padding-left: 0;
    }

    .faculdade {
        width: 100%;
    }

    .paragrafos .row{
        flex-direction: column;
    }

    main{
        padding-left: 0;
    }
    li{
        margin-left: 0;
        padding-left: 0;
    }
    .paragrafos ul{
        margin-left: 0;
    }
}